body{
    padding: 0;
    box-sizing: border-box;
    margin:0
}

main{
    min-height: 1200vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div{

}
