@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin:0;
    padding:0;
    background-color:oklch(1 0 0);

   

    /* Trucos para que se vea perfecta */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 100vh;
}